streamlit>=1.30.0
pandas
requests
numpy
openpyxl
lxml
html5lib
beautifulsoup4
google-generativeai==0.7.2
yfinance
plotly
bcrypt
google-auth-oauthlib
python-dotenv
extra-streamlit-components>=0.1.71
edge-tts
nest_asyncio
psycopg2-binary
SQLAlchemy
streamlit-echarts
streamlit-option-menu
